<h2>Novo funcionário</h2>
<div class="row">
  <form (ngSubmit)="submit()" [formGroup]="newRegisterForm" #formDir="ngForm">
    <div class="form-group">
      <label for="name"><b>Nome:</b></label>
      <input
        type="text"
        placeholder="Novo Funcionário"
        formControlName="name"
        class="form-control"
        required
      />
      <small class="form-text text-muted">* Mínimo de 10 caracteres.</small>
    </div>
    <div class="col-lg-12" style="text-align: right">
      <button type="submit" [disabled]="!formDir.valid" class="btn btn-primary">
        Enviar
      </button>
    </div>
  </form>
</div>
