<div class="container col-6">
  <div *ngIf="register && register.cpf == ''">
    <h2>Envie seus dados</h2>
    <form (ngSubmit)="submit()" [formGroup]="registerForm" #formDir="ngForm">
      <div>
        <div class="form-group">
          <label for="Name">Nome Completo:</label>
          <input
            type="text"
            value="{{ register.name }}"
            formControlName="name"
            class="form-control"
            required
          />
          <small class="form-text text-muted">* Obrigatório.</small>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            value="{{ register.email }}"
            formControlName="email"
            class="form-control"
            required
          />
          <small class="form-text text-muted">* Obrigatório.</small>
        </div>
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input
            type="text"
            value="{{ register.cpf }}"
            mask="000.000.000-00"
            [showMaskTyped]="true"
            [dropSpecialCharacters]="false"
            formControlName="cpf"
            class="form-control"
            required
          />
          <small class="form-text text-muted">* Obrigatório.</small>
        </div>
        <div class="form-group">
          <label for="contact">Contato:</label>
          <input
            type="text"
            value="{{ register.contact }}"
            formControlName="contact"
            class="form-control"
            mask="(00) 00000-0000"
            [showMaskTyped]="true"
            [dropSpecialCharacters]="false"
          />
        </div>
        <div class="form-group">
          <label for="acquirements">Conhecimentos:</label>
          <div id="acquirements">
            <div
              class="checkbox"
              formArrayName="acquirements"
              *ngFor="
                let acquirement of getAcquirementsControls();
                let i = index
              "
            >
              <input type="checkbox" [formControlName]="i"/>
              {{ acquirements[i] }}
            </div>
          </div>
        </div>
        <div class="col-lg-12" style="text-align: right;">
          <button type="submit" [disabled]="!formDir.valid" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="register && register.cpf !== ''">
    <h2>{{ register.name }}</h2>
    <p><b>Email:</b> {{ register.email }}</p>
    <p><b>CPF:</b> {{ register.cpf }}</p>
    <p><b>Contato:</b> {{ register.contact }}</p>
    <p><b>Habilidades</b></p>
    <ul>
      <li *ngFor="let acquirement of register.acquirements; let i = index">
        {{ register.acquirements[i] }}
      </li>
    </ul>
  </div>
</div>
